#buttonTheme1 {
    -fx-background-color: linear-gradient(to right, black , #FF1DCE);
    -fx-background-radius: 50%;
}
#buttonTheme2 {
    -fx-background-color: linear-gradient(to right, black , rgb(18, 0, 124));
    -fx-background-radius: 50%;
}
#buttonTheme3 {
    -fx-background-color: linear-gradient(to right, black , #00AD43);
    -fx-background-radius: 50%
}
#buttonTheme4 {
    -fx-background-color: linear-gradient(to right, whitesmoke , #003356);
    -fx-background-radius: 50%;
}
#buttonTheme5 {
    -fx-background-color: linear-gradient(to right, whitesmoke , #FF7538);
    -fx-background-radius: 50%;
}
#buttonTheme6 {
    -fx-background-color: linear-gradient(to right, whitesmoke , #8F00FF);
    -fx-background-radius: 50%;
}
