/* ================ WHOLE PROJECT ==================*/
.root {
    -first-color : #041C32;
    -second-color :  #04293A;
    -third-color : white;

    -fx-font-family: Arial;
    /* colors for highlighting an item*/
    -fx-accent: -first-color;
    -fx-focus-color: -first-color;
}

.button {
    -fx-background-color: -first-color;
    -fx-text-fill: -third-color;
}


/* ================ MESSAGE PAGE ===================*/
/*#sendMessageTextField {*/
/*    -fx-border-radius: 25px;*/
/*}*/
#listViewConversations{
    -fx-font-size: 15px;
}
#listViewCurrentConversation{
    -fx-font-size: 18px;
}

#createNewChatPane > .label{
    -fx-text-alignment: center;
    -fx-font-weight: bold;
    -fx-text-fill: -first-color;
    -fx-font-size: 14px;
}

